@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
body {
  margin: 0px;
  overflow: hidden;
  overflow-y: scroll;
  background: black;
  /* fallback for old browsers */
  background: -webkit-linear-gradient( to top, #363795, black);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient( to top, #363795, black);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-header {
  width: 350px;
}

.after_main {
  height: 50%;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 400px;
  height: 110px;
  position: relative;
  top:25px;
}


.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Fugaz One", cursive;
}

.menu {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

.escribeButton {
  width: 450px;
  font-size: 50px;
  text-decoration: none;
  color: white;
  display: flex;
  border-bottom: 8px solid #194678;
  justify-content: center;
  margin-right: 10%;
}

.blogsButton {
  width: 450px;
  font-size: 50px;
  text-decoration: none;
  color: white;
  display: flex;
  border-bottom: 8px solid #194678;
  justify-content: center;
  margin-left: 10%;

}

.tituloBienvendia1 {
  font-family: "Fugaz One", cursive;
  width: auto;
  height: 20%;
  font-size: 40px;
  text-align: center;
  color: white;
  word-spacing: 0.5cm;
  line-height: 3cm;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 67vh;
}

.tituloBienvendia1 img {
  width: 750px;
}

.iconoBeta {
  position: fixed;
  color: green;
  text-decoration: none;
  border-bottom: 2px solid green;
  font-size: 45px;
  z-index: 3;
  right: 1%;
  top: 0%;
}

/* HEADER- END */

/* ¿QUE ES ZAIT?-START */

.write_blogs {
  margin-top: 100px;
}

.zaitLuna img {
  height: 400px;
}

.moon_zait {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  overflow: hidden;
}

.titleZait {
  font-family: "Fugaz One", cursive;
}

.zait-description {
  font-family: "Ubuntu", sans-serif;
  margin: 10px;
  margin-left: 5%;
  background: #f1f8fe;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.buttonZait {
  font-family: "Ubuntu", sans-serif;
  border: 2px solid #195570;
  background-color: #d2eaf4;
  padding: 5px 20px;
  text-decoration: none;
  color: #154454;
  border-radius: 5px;
  font-size: 22px;
}

.write, .blogs {
  text-align: center;
}

.write h3, .blogs h3 {
  margin-top: 0;
}

.write p, .blogs p {
  margin-bottom: 40px;
}

.btn-write_blogs {
  color: black;
  padding: 10px;
  border: 2px solid blue;
  text-decoration: none;
}

/* ¿QUE ES ZAIT?-END */

/* ESCRIBE-BLOGS-START */

.titleEscribe {
  font-family: "Fugaz One", cursive;
}

.titleBlogs {
  font-family: "Fugaz One", cursive;
}

.add-write_blog {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 400px;
  background-color: #f8fae5;
}

/* ESCRIBE-BLOGS-END */

/* ICONS-START */

@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?dkiz3g");
  src: url("fonts/icomoon.eot?dkiz3g#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?dkiz3g") format("truetype"), url("fonts/icomoon.woff?dkiz3g") format("woff"), url("fonts/icomoon.svg?dkiz3g#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-instagram:before {
  content: "\1f300";
}

.icon-icon-github:before {
  content: "\e901";
}

.icon-icon-facebook:before {
  content: "\e903";
}

/* ICONS-END */

/* FOOTER-START */

.content-footer {
  /* margin-top: 100px; */
  padding: 0;
  margin: 0;
  background-image: url("https://cdn.discordapp.com/attachments/696117494091612215/734156940078219325/Fondo_Footer.png");
  box-shadow: 0 -5px 9px rgba(81, 62, 201, 0.5);
  -webkit-box-shadow: 0 -5px 9px rgba(81, 62, 201, 0.5);
  -moz-box-shadow: 0 -5px 9px rgba(81, 62, 201, 0.5);
}

.footer {
  margin-top: 100px;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;
  height: 250px;
}

.zait-log img {
  height: 80px;
}

.content-page {
  display: block;
}

.footer_nav li {
  list-style: none;
  margin: 15px;
}

.footer_nav li:nth-child(3) {
  border-top: 3px solid white;
  padding-top: 6px;
}

.footer_nav li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 25px;
}

.follow_us {
  display: block;
  text-align: left;
  font-size: 21px;
  position: relative;
  top: -11px;
}

.contact {
  display: flex;
  align-items: center;
  font-size: 25px;
}

.contact_1 p, .contact_2 p {
  margin: 0;
  padding-bottom: 10px;
}

.contact-social a {
  color: white;
  text-decoration: none;
}

.contact_2 {
  margin-left: 25px;
}

.contact div {
  margin-right: 25px;
}

.contact-social {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-size: 30px;
}

.students-platzi {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  border-top: 6px solid #246d00;
  background-color: #70381a7a;
}

.students-platzi span {
  color: yellowgreen;
}

/* FOOTER-END */